[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/vim-buffergator"]
	path = bundle/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule "bundle/vimerl"]
	path = bundle/vimerl
	url = https://github.com/RJ/vimerl.git
[submodule "bundle/vim-taglist"]
	path = bundle/vim-taglist
	url = https://github.com/vim-scripts/taglist.vim
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "bundle/vim-fontsize"]
	path = bundle/vim-fontsize
	url = https://github.com/drmikehenry/vim-fontsize
[submodule "bundle/vim-easy-align"]
	path = bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
